# Leave field empty to use defaults

# Whether to debug module lookups.
# - Logs successful lookups.
# - Logs failed lookups with stack traces.
# - Logs partial matches (matches exportless, but not with-exports).
# Default: true in development, false in production
REVENGE_FLAG_DEBUG_MODULE_LOOKUPS=

# Whether to debug module waits.
# - Logs when a module is waited for.
# - Logs when a module is found.
# Default: true in development, false in production
REVENGE_FLAG_DEBUG_MODULE_WAITS=

# Whether to debug lazy values.
# **This flag may break a lot of things depending on initialization timing. Use with caution.**
# - Immediately calls the signal to initialize proxified values.
# - Immediately calls the loader to initialize lazy object properties.
# - Warns if the values are nullish.
# Default: false
REVENGE_FLAG_DEBUG_LAZY_VALUES=

# Whether to log promise rejections to the console.
# Default: true in development, false in production
REVENGE_FLAG_LOG_PROMISE_REJECTIONS=

# URLs

REVENGE_DISCORD_SERVER_URL=https://discord.com/invite/ddcQf3s2Uq
REVENGE_SOURCE_REPOSITORY_URL=https://github.com/revenge-mod/revenge-bundle-next
REVENGE_LICENSE_URL=https://raw.githubusercontent.com/revenge-mod/revenge-bundle-next/main/LICENSE

# Optional URLs

REVENGE_DEFAULT_PLUGIN_REPOSITORY_URL=
REVENGE_DONATE_URL=
